//general colors
$bodyBackground: #FFFFFF;
$darkGrey: #444444;
$lightGrey: #999999;
$myRed: #DF4446;
$headerPadding: 50px;
$superLightGrey: #F7F7F7;

$projectGrey: #F0F0F0;

//skills colors
$languageColor: #46465e;
$frontendColor: #2980b9;
$toolColor: #C10003;
$frameworkColor: #0E7143;
$databaseColor: #E29833;
$osColor: #050505;


//opacity
$skillOpacity: 0.2;
$barOpacity: 0.6;
$levelOpacity: 0.2;

body{
	background-color: $bodyBackground;
	font-family: Montserrat;
}
html{
	overflow-y: scroll;
}


#main-body{
	//padding-top:$headerPadding;

}
.skill{
  	//border:none;
  	margin:2px;
  	padding:3px 5px;
  	border-radius: 2px;

  	span{
  	 	vertical-align: middle;
  	 	display: inline-block;
    	float: none;
  	}
  	a{
  		text-decoration:none;
  		color:inherit;
  	}
}

.btn-ghost {
	background-color:transparent;
	border-color:#FFFFFF;
	border-radius:2px;
	color:#FFFFFF;
}

@mixin skillColors($color, $transparency:1){
	background-color: $color;
	background-color: rgba($color, $transparency);
	color: white;
	&:hover{
		background-color: rgba($color, 0.9);
		color: white;
	}
}
@mixin skillCategories($override:''){
	.#{language$override}{
		@include skillColors($languageColor, $skillOpacity);
	}
	.#{frontend$override}{
		@include skillColors($frontendColor, $skillOpacity);
	}
	.#{tool$override}{
		@include skillColors($toolColor, $skillOpacity);
	}
	.#{framework$override}{
		@include skillColors($frameworkColor, $skillOpacity);
	}
	.#{data$override}{
		@include skillColors($databaseColor, $skillOpacity);
	}
	.#{os$override}{
		@include skillColors($osColor, $skillOpacity);
	}
}

@include skillCategories();
//@include skillCategories('bar');

.languagebar{
	@include skillColors($languageColor, $barOpacity);
}
.frontendbar{
	@include skillColors($frontendColor, $barOpacity);
}
.toolbar{
	@include skillColors($toolColor, $barOpacity);
}
.frameworkbar{
	@include skillColors($frameworkColor, $barOpacity);
}
.databar{
	@include skillColors($databaseColor, $barOpacity);
}
.osbar{
	@include skillColors($osColor, $barOpacity);
}

.progress {
    position: relative;
}

.progress-type {
	/*position: absolute;
	left: 0px;
	padding: 0px 10px 0px 0px;
	color: rgb(255, 255, 255);
	color: red;
	background-color: rgba(0, 0, 0, 0.2);*/
	i{
		padding: 0px 5px 0px 5px;
		cursor:pointer;
	}
}


.progress > .progress-completed {
	position: absolute;
	right: 0px;
	padding: 0px 10px 0px 10px;
}

.fillBar{
    -webkit-animation: progressBar 1.5s ease-in-out;
    -webkit-animation-fill-mode:both;
    -moz-animation: progressBar 1.5s ease-in-out;
    -moz-animation-fill-mode:both;
    animation-delay: -0.6s;
}
.fillBar:after{
    -webkit-animation: '';
    -webkit-animation-fill-mode:'';
    -moz-animation: '';
    -moz-animation-fill-mode:'';
    animation-delay: '';
}

.transBar{
    -webkit-transition: width 1s ; /* For Safari 3.1 to 6.0 */
    transition: width 1s;
}

@-webkit-keyframes progressBar {
  0% { width: 0; }
  //100% { width: 100%; }
}

@-moz-keyframes progressBar {
  0% { width: 0; }
  //100% { width: 100%; }
}

.list-group-horizontal .list-group-item {
    display: inline-block;
}

#work, #education, #skills, #contact, #about, #projects{
	h2{
		padding-top:30px;
		font-size: 54px;
		text-align: center;
		color: $myRed;
	}
	h3{
		font-size: 28px;
		//font-style: italic;
		color: $myRed;
	}
	h4{
		//color: $myRed;
	}
	.sidebar{
		font-family: "Helvetica";
		font-size: 13px;
		.location{
			//font-weight:bold;
			color: $darkGrey;
		}
		.date{
			color: $lightGrey;
		}
	}
	.workRow{
		padding-bottom: 10px;
	}
	.title{
		font-style: italic;
		font-weight: bold;
	}
	.description{
		color: $lightGrey;
	}
}

#contact{
	i{
		font-size:34px;
	}
	ul.no-bullets {
	  	list-style-type:none;
	  	margin:0;
	  	padding:0;
	}
	.valign{
		vertical-align:middle;
	}
	a{
		text-decoration:none;
		color:inherit;
	}
	a:hover{
		opacity:0.7;
	}
	li{
		padding: 10px 0px 10px 0px;
	}
	padding-bottom:60px;
    background-color: $darkGrey;
    color:white;
}

#projects{
	h4{
		font-weight: bold;
		font-style: italic;
	}
}


html,body{
    height: 100%
}

#holder {
    min-height: 100%;
    position:relative;
}

#body {
    //padding-bottom: 40px;
    //height:5300px;
}

#footer{
    background-color: $darkGrey;
    bottom: 0;
    height: 40px;
    left: 0;
    position: absolute;
    right: 0;
    color: #FFFFFF;
  	line-height: 40px;
}

#home{
	color: white;
	height:calc(100vh);
	h1{
		padding-top:40px;
		font-size:58px;
	}
	h2{
		font-size:36px;
	}
	img{
		border-radius: 50%;
		border:5px solid ;
	}

	background: no-repeat center right fixed url('../img/guitar.jpg');
	background-size: 100%;


	color: white;
	//-webkit-background-size: cover;
	//-moz-background-size: cover;
	//-o-background-size: cover;
	min-height: fill-content;
	hr{
		margin: 15px 0px;
		border-color: #fff;
		opacity: 1;
		//border: 5px solid;
	}
}

.cover-wrap {
  position: relative;
}
.center-title {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align:center;
}

#about{
	img{
		border-radius: 50%;
		border:5px solid;
		margin-bottom:20px;
	}
	background-color:$superLightGrey;
	//border-bottom: 1px solid rgba(0, 0, 0, .4);
}

#experience, #skills, #about, #projects{
	padding-bottom:50px;
}

#skills{
	background-color:$superLightGrey;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}


/*#body{
	width: 70%;
   	margin-left: auto;
   	margin-right: auto;
}*/


@media (min-width: 1200px) {
	#body{
	  	.container {
			width: 65%;
	  	}
  	}
}

hr {
	margin: 40px 0px;
    border-color: #727878;
    opacity: 0.4;
}

nav{
	//opacity:0.5;
}

.navbar {
   /*background-color: transparent;
   background: transparent;
   border-color: transparent;*/
   border:none;
   opacity:0.9;
}

.navbar li { color: #000 }

.project{
	//margin: 0px 10px 0px 10px;
	.content{
		background-color:$projectGrey;
		padding: 10px 20px 10px 20px;
		//margin: 10px 0px 10px 0px;
		margin-top:10px;
		margin-bottom: 10px;
		h4{
			//font-size:24px;
		}
	}
	.image{
		//background-color:green;
	}
	.project-right{
		h4{
			text-align:right;
		}
		p{
			text-align:justify
		}
	}
	hr {
		margin: 15px 0px;
		border-color: #727878;
		opacity: 0.4;
	}
}