<div id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>About</h2>
                    <p style="text-align: justify;">
                        All round Software Developer. Interested in learning new things and product development.
                        I enjoy working on all levels of software development, from front-ene to deployments.
                        I enjoy seeing new projects grow from the design stage through to implementation.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>