<div id="home" class="jumbotron">
    <div class="container">
        <div class="row row-centered">
            <h1>Damien Duignan</h1>
            <h3>Software Developer</h3>
            <div class="col-md-4 col-sm-4 col-xs-5 col-centered vcenter">
                <img class="img-responsive" src="img/me.jpg"/>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-5 col-centered vcenter">
                <h3><i class="fa fa-map-marker icons"></i> {{ location }}</h3>
                <h3>{{clock | date:'h:mm a'}}</h3>
            </div>
        </div>
    </div>
</div>